.featured-products-container {
  color: #f1f1f1;
  padding: 0 7%;
}

.featured-products-carousel {
  /* outline: red 1px solid; */
  display: flex;
  height: 540px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.featured-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 200px;
  margin-right: 20px;
}

.featured-product-card {
  /* outline: red 1px solid; */
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: 250px;
  overflow: hidden;
}

.featured-product-card div:nth-child(1) {
  flex: 2;
}

.featured-product-card div:nth-child(1) > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.featured-product-card div:nth-child(2) {
  flex: 0.8;
  padding: 10px;
}

.featured-product-card div:nth-child(2) > h5,
p {
  margin: 0;
  font-size: 14px;
}

.featured-product-card div:nth-child(2) > h5 {
  font-weight: 700;
}
.featured-product-card div:nth-child(2) > p {
  font-weight: 400;
}

.featured-product-card div:nth-child(2) > h4 {
  margin: 15px 0 0 0;
}

/* ! Borrar esto despues */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
