footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #f1f1f1;
  overflow: hidden;
}

.footer-email {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #313131;
}

.footer-email-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.footer-email-form-container form {
  position: relative;
  width: 300px;
}

.footer-email-form-container form > input[type="email"] {
  width: 100%;
  padding: 7px 5px;
  border: none;
  border-bottom: 2px solid #575757;
  font-size: 1em;
  color: inherit;
  background: none;
}

.footer-email-form-container form > button {
  position: absolute;
  top: 0;
  right: -10px;
  border: none;
  color: #575757;
  font-size: 1.2em;
  background: none;
  cursor: pointer;
}

.footer-email-header {
  display: flex;
  justify-content: flex-start;
  height: 90px;
  width: 300px;
}

.footer-email-header img {
  height: 100%;
  width: 64px;
  margin-right: 10px;
}

.footer-email-header h4 {
  margin: auto 0;
  text-align: center;
  font-size: 1.2em;
}

footer .footer-email hr {
  width: 100%;
  margin: 0;
  border: 1px solid #575757;
}

.footer-email-location-settings {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 70px;
}

.footer-email-location-settings div {
  display: flex;
  margin-right: 20px;
}

/* Here should be the flag image of the localization  */
.footer-email-location-settings div > div {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
}

.footer-email-location-settings div > a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.footer-email-location-settings div > a:hover {
  text-decoration: underline;
}

.footer-email-location-settings button {
  border: none;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: none;
}

.footer-email-location-settings button:hover {
  text-decoration: underline;
}

.footer-info {
  display: flex;
  box-sizing: border-box;
  padding: 32px 24px;
  min-height: 400px;
  background-color: #1a1a1a;
}

.footer-info > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-info > div > h4 {
  margin: 0;
  margin-bottom: 30px;
}

.footer-info > div > a {
  margin-bottom: 15px;
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

.footer-info > div > a:hover {
  text-decoration: underline;
}
