nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 60px;
  padding: 14px 20px;
  overflow: hidden;
  font: normal 1rem "Helvetica Neue", sans-serif;
  color: #f1f1f1;
  background-color: #313131;
}

nav a {
  display: block;
  padding: 14px 16px;
  text-align: center;
}

.burger-container {
  display: none;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  outline: 1px red solid;
  display: flex;
  align-items: center;
  height: 100%;
}

.search-bar * {
  outline: 1px blue solid;
  color: #313131;
  background-color: #f1f1f1;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: none;
  box-sizing: border-box;
}

.search-bar div {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 700px) {
  nav {
    padding-right: 20px;
  }
  nav .burger {
    display: block;
  }

  .burger-container {
    display: flex;
    flex: 0.5;
  }

  .logo-container {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .buttons-container {
    flex: 0.5;
  }

  .search-bar {
    display: none;
  }
}
