.promo-header {
  padding: 1%;
  height: 75vh;
}

.promo-header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  border-radius: 4px;
  background-image: url("../images/promo_background.jpg");
  background-size: cover;
  background-position: center;
}

.promo-header div > h1 {
  font-size: 5rem;
  margin: 0;
}

.promo-header div > h3 {
  margin: 10px 0 0 0;
}

@media screen and (max-width: 800px) {
  .promo-header div > h1 {
    font-size: 3rem;
  }

  .promo-header div > h3 {
    font-size: 1rem;
    margin: 10px 5% 0;
  }
}
